<form action="/recipes/<%= @recipe.id %>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="patch">
    <label for="name"><%= @recipe.name %>: </label>
    <input type="text" id="name" name="name">
    <label for="ingredients"><%= @recipe.ingredients %>: </label>
    <input type="text" id="ingredients" name="ingredients">
    <label for="cook_time"><%= @recipe.cook_time %>: </label>
    <input type="text" id="cook_time" name="cook_time">
    <input type="submit" value="Submit">
</form>