<!DOCTYPE html>
<html>
<body>
<h1>This fucking recipe</h1>
<%=@recipe.name%>>
<%=@recipe.ingredients%>
<%=@recipe.cook_time%>

    <form action="/recipes/<%= @recipe.id %>" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="delete">
    </form>
</body>
</html>